.about {
  transition: all $transition-time-sm $transition-fn;
  .about-content {
    opacity: 0;
    transform: translateY(10rem);
    transition: all $transition-time-md $transition-fn;
  }
  .about-group {
    opacity: 0;
    margin-bottom: $m-3;
    transform: translateY(10rem);
    transition: all $transition-time-md $transition-fn;
  }
  .about-download {
    display: block;
    margin-top: $m-3;
  }
  .about-education {
    padding: $p-2;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: $rounded-lg;
    border-bottom-right-radius: unset;
    transition: all $transition-time-sm $transition-fn;
  }
}

.about-reveal {
  .about-content,
  .about-group {
    opacity: 1;
    transform: translateY(0);
  }
}

// Color
.about-blue {
  .about-education {
    border-color: $bg-blue;
  }
}

.about-red {
  .about-education {
    border-color: $bg-red;
  }
}

.about-green {
  .about-education {
    border-color: $bg-green;
  }
}

.about-orange {
  .about-education {
    border-color: $bg-orange;
  }
}

.about-yellow {
  .about-education {
    border-color: $bg-yellow;
  }
}

.about-purple {
  .about-education {
    border-color: $bg-purple;
  }
}

.about-pink {
  .about-education {
    border-color: $bg-pink;
  }
}
