.experiences {
  .experiences-work {
    opacity: 0;
    transform: translateX(10rem);
    transition: all $transition-time-md $transition-fn;
    .work-company {
      transition: all $transition-time-sm $transition-fn;
    }
    .work-project {
      margin-top: $m-1;
      margin-right: $m-5 * 4;
      padding: $p-1;
      border-radius: $rounded-lg;
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      transition: all $transition-time-sm $transition-fn;
      .project-title {
        margin-bottom: $m-1;
      }
      @include respond(mdPhone) {
        margin-right: 0;
      }
    }
  }
}

.experiences-reveal {
  .experiences-work {
    opacity: 1;
    transform: translateX(0);
  }
}

.experiences-blue {
  .experiences-work {
    .work-company {
      color: $text-blue;
    }
    .work-project {
      border-color: $bg-blue;
    }
  }
}

.experiences-red {
  .experiences-work {
    .work-company {
      color: $text-red;
    }
    .work-project {
      border-color: $bg-red;
    }
  }
}

.experiences-green {
  .experiences-work {
    .work-company {
      color: $text-green;
    }
    .work-project {
      border-color: $bg-green;
    }
  }
}

.experiences-orange {
  .experiences-work {
    .work-company {
      color: $text-orange;
    }
    .work-project {
      border-color: $bg-orange;
    }
  }
}

.experiences-yellow {
  .experiences-work {
    .work-company {
      color: $text-yellow;
    }
    .work-project {
      border-color: $bg-yellow;
    }
  }
}

.experiences-purple {
  .experiences-work {
    .work-company {
      color: $text-purple;
    }
    .work-project {
      border-color: $bg-purple;
    }
  }
}

.experiences-pink {
  .experiences-work {
    .work-company {
      color: $text-pink;
    }
    .work-project {
      border-color: $bg-pink;
    }
  }
}
