.icon-view {
  border-radius: $rounded-full;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all $transition-time-sm $transition-fn;
  .image {
    position: relative;
    z-index: 1;
  }
  .icon-view-circle {
    background: $bg-white;
    border-radius: $rounded-full;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.icon-view-name {
  margin-top: $m-1;
}

.icon-view-hover {
  &:hover {
    .image {
      transform: scale(0.7);
    }
  }
}

// Color
.icon-view-blue {
  background: $bg-blue-gradient;
}

.icon-view-red {
  background: $bg-red-gradient;
}

.icon-view-green {
  background: $bg-green-gradient;
}

.icon-view-orange {
  background: $bg-orange-gradient;
}

.icon-view-yellow {
  background: $bg-yellow-gradient;
}

.icon-view-purple {
  background: $bg-purple-gradient;
}

.icon-view-pink {
  background: $bg-pink-gradient;
}
