.projects {
  .projects-tabs {
    opacity: 0;
    transform: translateY(-10rem);
    transition: opacity $transition-time-md $transition-fn, transform $transition-time-md $transition-fn;
    .tabs-head {
      margin-bottom: $m-2;
      height: $h-5;
      display: flex;
      align-items: center;
      justify-content: center;
      .head-title {
        padding: $p-1 $p-2;
        margin: 0 $m-1;
        border-radius: $rounded;
        border-bottom: 1px solid transparent;
        transition: all $transition-time-xs $transition-fn;
        cursor: pointer;
        &:hover {
          border-color: transparent;
        }
      }
      .head-title-selected {
        font-size: $text-md;
        font-weight: $font-semibold;
        color: $text-white;
        transition: all $transition-time-xs $transition-fn;
      }
    }
    .tabs-content {
      .content-item-selected {
        animation: fade 0.2s linear 1;
      }
    }
  }
  .projects-carousel {
    .carousel-view {
      .view-item {
        align-items: flex-start;
      }
    }
  }
  .projects-group {
    transition: all $transition-time-sm $transition-fn;
    .group-name {
      transition: all $transition-time-sm $transition-fn;
    }
    .group-features {
      .features-title {
        margin-bottom: $m-2;
      }
    }
    .group-card {
      padding: $p-1;
      min-height: $h-10;
      border: 1px solid transparent;
      border-bottom-right-radius: $rounded-lg;
      border-top-left-radius: $rounded-lg;
      transition: all $transition-time-sm $transition-fn;
    }
  }
  .projects-card,
  .projects-item-mobile {
    transition: all $transition-time-sm $transition-fn;
    .card-title {
      transition: all $transition-time-sm $transition-fn;
    }
    .card-image {
      padding: $p-2;
      border-top: 1px solid $bg-gray;
      border-left: 1px solid $bg-gray;
      border-radius: $rounded-lg;
      border-bottom-right-radius: unset;
      transition: all $transition-time-sm $transition-fn;
      &:hover .image-wrapper .image {
        transform: scale(1.1);
      }
      .image-wrapper {
        overflow: hidden;
        border-radius: $rounded;
        border: 1px solid $bg-gray;
        transition: all $transition-time-sm $transition-fn;
      }
      .image-action {
        margin-top: $m-2;
      }
    }
  }
  .projects-card-1 {
    padding-right: $p-1;
  }
  .projects-card-2 {
    padding-left: $p-1;
  }
  .projects-item-mobile {
    margin-bottom: $m-2;
    .card-image {
      margin-bottom: $m-1;
    }
  }
}

.projects-reveal {
  .projects-tabs {
    opacity: 1;
    transform: translateY(0);
  }
}

// Color
.projects-blue {
  .head-title-selected {
    background: $bg-blue-gradient;
  }
  .projects-group {
    border-color: $bg-blue;
    .group-name {
      color: $text-blue;
    }
    .group-card {
      border-color: $bg-blue;
      &:hover {
        background: $bg-blue-rgba-sm;
      }
    }
  }
  .project-card {
    border-color: $bg-blue;
    .card-title {
      color: $text-blue;
    }
  }
}

.projects-red {
  .head-title-selected {
    background: $bg-red-gradient;
  }
  .projects-group {
    border-color: $bg-red;
    .group-name {
      color: $text-red;
    }
    .group-card {
      border-color: $bg-red;
      &:hover {
        background: $bg-red-rgba-sm;
      }
    }
  }
  .project-card {
    border-color: $bg-red;
    .card-title {
      color: $text-red;
    }
  }
}

.projects-green {
  .head-title-selected {
    background: $bg-green-gradient;
  }
  .projects-group {
    border-color: $bg-green;
    .group-name {
      color: $text-green;
    }
    .group-card {
      border-color: $bg-green;
      &:hover {
        background: $bg-green-rgba-sm;
      }
    }
  }
  .project-card {
    border-color: $bg-green;
    .card-title {
      color: $text-green;
    }
  }
}

.projects-orange {
  .head-title-selected {
    background: $bg-orange-gradient;
  }
  .projects-group {
    border-color: $bg-orange;
    .group-name {
      color: $text-orange;
    }
    .group-card {
      border-color: $bg-orange;
      &:hover {
        background: $bg-orange-rgba-sm;
      }
    }
  }
  .project-card {
    border-color: $bg-orange;
    .card-title {
      color: $text-orange;
    }
  }
}

.projects-yellow {
  .head-title-selected {
    background: $bg-yellow-gradient;
  }
  .projects-group {
    border-color: $bg-yellow;
    .group-name {
      color: $text-yellow;
    }
    .group-card {
      border-color: $bg-yellow;
      &:hover {
        background: $bg-yellow-rgba-sm;
      }
    }
  }
  .project-card {
    border-color: $bg-yellow;
    .card-title {
      color: $text-yellow;
    }
  }
}

.projects-purple {
  .head-title-selected {
    background: $bg-purple-gradient;
  }
  .projects-group {
    border-color: $bg-purple;
    .group-name {
      color: $text-purple;
    }
    .group-card {
      border-color: $bg-purple;
      &:hover {
        background: $bg-purple-rgba-sm;
      }
    }
  }
  .project-card {
    border-color: $bg-purple;
    .card-title {
      color: $text-purple;
    }
  }
}

.projects-pink {
  .head-title-selected {
    background: $bg-pink-gradient;
  }
  .projects-group {
    border-color: $bg-pink;
    .group-name {
      color: $text-pink;
    }
    .group-card {
      border-color: $bg-pink;
      &:hover {
        background: $bg-pink-rgba-sm;
      }
    }
  }
  .project-card {
    border-color: $bg-pink;
    .card-title {
      color: $text-pink;
    }
  }
}
