.navlink {
  display: block;
  padding: $p-1 - 0.4 $p-1;
  border-radius: $rounded;
  transition: all $transition-time-xs $transition-fn;
  &:hover {
    color: $text-white;
  }
}

.navlink.navlink-active {
  color: $text-white;
}

// Color hover
.navlink-blue {
  &:hover {
    background: $bg-blue-gradient;
  }
}

.navlink-red {
  &:hover {
    background: $bg-red-gradient;
  }
}

.navlink-green {
  &:hover {
    background: $bg-green-gradient;
  }
}

.navlink-orange {
  &:hover {
    background: $bg-orange-gradient;
  }
}

.navlink-yellow {
  &:hover {
    background: $bg-yellow-gradient;
  }
}

.navlink-pink {
  &:hover {
    background: $bg-pink-gradient;
  }
}

.navlink-purple {
  &:hover {
    background: $bg-purple-gradient;
  }
}

// Color active
.navlink-blue.navlink-active {
  background: $bg-blue-gradient;
}

.navlink-red.navlink-active {
  background: $bg-red-gradient;
}

.navlink-green.navlink-active {
  background: $bg-green-gradient;
}

.navlink-orange.navlink-active {
  background: $bg-orange-gradient;
}

.navlink-yellow.navlink-active {
  background: $bg-yellow-gradient;
}

.navlink-pink.navlink-active {
  background: $bg-pink-gradient;
}

.navlink-purple.navlink-active {
  background: $bg-purple-gradient;
}
